.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
}

.cartIconContainer {
  position: fixed;
  top: 20px;
  right: 80px;
}
.cart-title{
  position:absolute;
  top: 2px;
}
.cartIcon {
  cursor: pointer;
  margin-right: 220px;
  margin-top: 20px;
  width: 35px;
  height: 33px;
  background-size: cover;
}

.notificationCircle {
  position: absolute;
  top: 12px;
  right: 210px;
  width: 20px;
  height: 20px;
  background-color: rgb(255, 102, 0);
  color: white;
  border-radius: 50%;
  font-size: 13px;
}
.circle-num{
  margin-left: 5px;
  margin-top: -2px;
}

.addToCartButton {
  width: 400px;
  height: 60px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgb(255, 94, 0);
  color: white;
  padding: 5px;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 190px;
  top: 700px;
}
.addToCartButton:hover{
  opacity: 70%;
  color:rgb(253, 253, 253)y;
}
.quantityControl {
  display: flex;
  align-items: center;
  margin-right: 600px;
  position: absolute;
  top: 705px;
}

.quantityButton-L {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  background-color: rgb(255, 94, 0);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  margin: 0 15px;
}
.quantityButton-L:hover{
  background-color: rgb(248, 248, 248);
  color: rgb(255, 94, 0);
  transition: 0.2s;
}
.quantityButton-R {
  width: 55px;
  height: 55px;
  border-radius: 20px;
  background-color: rgb(255, 94, 0);
  color: white;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 25px;
  margin: 0 15px;
}
.quantityButton-R:hover{
  background-color: rgb(248, 248, 248);
  color: rgb(255, 94, 0);
  transition: 0.2s;
}
.quantityDisplay {
  font-size: 26px;
  margin: 0 5px;
}
.modal {
  position: absolute;
  top: 80px;
  right: 250px;
  width: 300px;
  height: 150px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.close {
  color: red;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 25px;
}
.cart-p{
  margin-top: 27%;
  margin-left: 12%;
  font-size: 20px;
}
.straight-line{
  width: 100%;
  height: 1px;
  position: absolute;
  top: 55px;
  right: 0px;
  background-color: grey;
  opacity: 30%;
}
.cartItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.deleteButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.cart-info{
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 20px;
}
.cart-total{
  position: absolute;
  top: 100px;
  left: 20px;
  font-size: 20px;
}
.delete-img{
  width: 35px;
  height: 35px;
}

@media only screen and (max-width: 600px) {
  .modal {
    background-color: white;
    position: absolute;
    top: 90px;
    right: 10px;
    width: 420px;
    height: 320px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.1);
  }
  .addToCartButton {
    margin-top: 160px;
  }
  .cart-title{
    margin-top: 10px;
  }
  .cartIcon{
    margin-right: 1px;
    margin-top: -1px;
  }
  .cart-p{
    margin-top: 31%;
    margin-left: 17%;
    font-size: 25px;
  }
  .cart-info{
    position: absolute;
    top: 85px;
    left: 20px;
    font-size: 25px;
  }
  .cart-total{
    position: absolute;
    top: 150px;
    left: 20px;
    font-size: 25px;
  }
  .container {
    flex-direction: column; 
    align-items: flex-end; 
  }
  
  .cartIconContainer {
    right: 10%;
  }

  .cart-title {
    position: absolute;
    top: 2px;
  }

  .addToCartButton {
    width: 80%;
    position: absolute;
    right: 10%;
    bottom: 10px;
  }

  .quantityControl {
    position: relative;
    top: 0;
    right: 10%;
    margin-top: 10px;
  }
  .quantityButton-L{
    position: absolute;
    top: 250px;
    left: -90px;
  }.quantityButton-R{
    position: absolute;
    left: 190px;
    top: 250px;
  }
  .quantityDisplay{
    position: absolute;
    left: 80px;
    top: 257px;
  }
  .notificationCircle {
    position: absolute;
    top: -1px;
    right: -4px;
  }
  .circle-num{
    margin-left: 5px;
    margin-top: -2px;
  }
}